@media print {
  /* line 2, ../../sass/modules/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 9, ../../sass/modules/_print.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 12, ../../sass/modules/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 15, ../../sass/modules/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 20, ../../sass/modules/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 24, ../../sass/modules/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 28, ../../sass/modules/_print.scss */
  thead {
    display: table-header-group; }

  /* line 32, ../../sass/modules/_print.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 35, ../../sass/modules/_print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 43, ../../sass/modules/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 48, ../../sass/modules/_print.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
