@mixin section-pad {
	margin-bottom: $spacer * 2; 
	section {
		padding: $spacer /2;
		background: transparent url('../assets/img/transp.png') repeat;
	}	
}

#latest-articles {
	@include section-pad;
	margin-top: $spacer * 2; 
}

#reporters-v {
	@include section-pad;
}

#antena3 {
	@include section-pad;
}

#team-members {
	@include section-pad;
}
