#videos .videos {
	background-color: #000;
	padding: 10px;
}



#pictures {
	overflow: hidden;

	.row {
		background-color: #000;
		padding: 10px;		
	}

	.latest {
		@include span-columns(4, 12);
	}
	.images {
		@include span-columns(8 omega, 12);
	}

}



#reporter {
	overflow: hidden;

	.row {
		background-color: #000;
		padding: 10px;		
	}

	.reporter {
		@include span-columns(8, 12);
	}

	.a3 {
		@include span-columns(4 omega, 12);
	}

}


#mentors {
	.row {
		background-color: #000;
		padding: 10px;
	}
}



#pre-footer {
	.row {
		background-color: #000;
		padding: 10px;
	}
}



#team-mentor {
	@include span-columns(8, 12);
	background: transparent url('../assets/img/transp.png') left top repeat;
	padding: 10px 0px 0px 10px;

	article {
		background: transparent url('../assets/img/mentor-bg.png') right bottom no-repeat;
		min-height: 450px;
		padding-right: 320px;
	}

	h1 {color: #FFF;}
	p {
		color: #FFF;
		line-height: 1.5em;
		margin-bottom: 10px;
	}

	cite {
		padding: 0.5em 0.5em;
		margin: 0.5em 0 0.8em;
		display: block;
		border-top: 2px solid #AD2300;
		border-bottom: 2px solid #AD2300;
		color: #FFF;
	}
	
}

a.button {
	@include inline-block;
	@include border-radius(0.4em);	
	font-weight: bold;
	background-color: #D90000;
	padding: 1em 2.2em 1em;
	font-size: 1.2em;
	margin-top: 10px;
}


#profile-story {
	margin-bottom: $spacer * 2;	
}

#profile-galerias {
	margin-bottom: $spacer * 2;	
}

#profile-mentor {
	margin-bottom: $spacer * 2;	
	overflow: hidden;
	img {	@include span-columns(3, 8); }
	.content {	@include span-columns(5 omega, 8); }
}

#archive {
	&.no-header header {
		padding: 0;
		margin: 0;
		text-indent: 0;
		background-color: transparent;
		margin-bottom: $spacer * 2;			
	}

	&.no-header ul li {
		overflow: hidden;
		margin-bottom: $spacer;	
		img {@include span-columns(3, 8);}
	}

	&.photo {
		overflow: hidden;
		ul li {
			@include span-columns(3, 9);
			&:nth-child(3n) {margin-right: 0;}
			margin-bottom: $spacer;	
		}
	}
}

.pagination {
	margin: 3em 0 5em;
	text-align: center;
	li {
		@include inline-block;
		a {
			display: block;
			padding: 0.4em 0.6em;
			margin-right: 0.2em;
			border: 1px solid #4C0200;
			background-color: #4C0200;
			font-size: 1.5em;
		}
		&.on a, a:hover {
			background-color: #ff9226;
			color: #FFF;
		}
	}
}

#related-articles {
	margin-top: $spacer * 3;		
	ul li {
		overflow: hidden;
		margin-bottom: $spacer;			
		img { @include span-columns(3, 8); }
	}
}










